{name, "herml"}.
{description, "Erlang port of Haml"}.
{homepage, "https://github.com/kevsmith/herml"}.
{url, {git, "https://github.com/nox/herml.git", {branch, "rebarify"}}}.
{authors, ["Kevin Smith <kevin@hypotheticalabs.com>"]}.
{rebar_compatible, true}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
